.botonPedido {
    display: inline-block;
    background-color: #6558f5;
    padding: 12px 28px;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    border: none;
    text-decoration: none;
}