.card-producto {
    border: none;
    border-radius: 18px;
    background: linear-gradient(to bottom,
            #ff578f 15%,
            #ffffff 100%);
    margin: 30px 30px;
    width: 20rem;
    height: 35rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .img-card {
        border: none;
        border-radius: 18px 18px 0 0;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .card-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        flex-grow: 1;
        border-radius: 0 0 5% 5%;
        padding: 15px;

        .card-title {
            font-size: 25px;
            color: #ffffff;
            text-align: center;
            align-items: center;
            margin: 5px;
            font-weight: 700;
        }

        .card-text {
            border: none;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 20px;

        }

        .btn-card {
            background-color: #ff578f;
            border: none;
            border-radius: 25px;
            padding: 10px 22px;
            color: #ffffff;
            display: block;
            margin: 0 auto;
            text-decoration: none;
        }
    }
}

.cards-producto {
    border-radius: 25px;
    border: 3px solid #ffffff;
    padding: 30px;
    margin: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    @media(max-width:1800px) {
        .cards-producto{
        display: flex;
        flex-direction: row;
        justify-content: space-around;}
    }
}