@use'./boton';

.container-form {
    display: flex;
    width: 800px;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin: 50px;
    padding: 25px;
    background: #6C63FF;
    color: white;
    border-radius: 20px;
    gap: 10px;


    .container-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        width: auto;
        padding: 5px;

        label {
            padding: 10px;
            font-weight: 700;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }

        input {
            border-radius: 4px;
            border: none;
            padding: 5px;
        }

        textarea {
            width: 300px;
            height: 100px;
            border-radius: 4px;
            border: none;
        }

        select {
            text-align: center;
            padding: 3px;
            border-radius: 4px;
            border: none;
        }
    }

    .boton-centro {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }


}

@media(max-width:900px) {
    form {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 5px;

        .container-input {
            display: flex;
            flex-direction: column;
            gap:5px; 
            textarea {
                width: 75%;
                height: 50px;
            }
        }
    }
}