@use './boton';

.formPedido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px;
    padding: 25px;
    background: #6C63FF;
    color: white;
    border-radius: 20px;
    gap: 10px;

    .container-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
        padding: 5px;

        label {
            margin: 10px;
            font-weight: 700;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }

        input,
        select,
        textarea {
            border-radius: 4px;
            border: none;
            margin: 5px;
            padding: 8px;
            width: 100%;
            max-width: 350px;

            textarea {
                min-height: 100px;
                resize: vertical;
            }

            input[type="file"] {
                width: 100%;
                max-width: 350px;
            }
        }

        .boton-centro {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }


        @media (max-width: 800px) {
            align-items: center;
            padding: 10px;
            gap: 5px;

            .container-input {
                flex-direction: column;
                justify-content: center;
                gap: 15px;
                width: 100%;
            }

            .boton-centro {
                display: inline-block;
                width: auto;

                .botonPedido {
                    margin: 0;
                    padding: 10px;
                }
            }
        }

        @media (max-width: 400px) {
            padding: 10px;

            .container-input {
                gap: 10px;

                input,
                select,
                textarea {
                    max-width: 100%;
                }
            }
        }
    }
}