.homePage {
    --bg-img: url("imagen.png");
    background-image: var(--bg-img);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;

    // Capa blanca semitransparente (overlay)
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.514);
        z-index: 1;
    }

    // Texto por encima del overlay
    * {
        position: relative;
        z-index: 2;
    }

    h1 {
        font-size: 80px;
        text-align: center;
        font-weight: 600;
        color:#f92280;
    }

    h3 {
        margin-top: 15px ;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: #c71864;
    }
    @media (max-width:600px) {
        .homePage {
            h1 {
                font-size: 25px;
                padding: 10px;
                text-align: center;
            }

            h3 {
                font-size: 15px;
            }
        }
    }
}