.hacermiPedido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .homePage{
        width: 100%;
        h1{
            font-size: 60px;
        }
        h1,h3{
            color:white;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.573);
        }
        --bg-img:url(https://cdn.pixabay.com/photo/2017/04/27/08/18/arrangement-2264812_1280.jpg);
        &::before {
            background: #ae5afc7f;
    }
    }
    h2{
        padding-bottom: 0;
        margin-bottom: 0;
        text-align: center;
    }
    form{
        margin-top: 0;
    }
}