@use'../componets/boton';
@use '../componets/icon';
@use '../componets/home-page';
@use'../base/tipografia';
.homePage{
    --bg-img: url("https://images.unsplash.com/photo-1602615576820-ea14cf3e476a?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
h2 {
    margin: 30px;
    padding: 30px;
}
.realizar-pedido {
    text-align: center;
    margin: 30px;

    h3 {
        color: #fe085adb;
        font-size: 50px;
        font-style: italic;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
    }

    p {
        font-size: 25px;
        padding: 10px;
    }
}

.ubicacion {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .icon{
        margin:0;
    }
    h2 {
        color: #fe085adb;
        font-weight: 700;
        margin-bottom: 5px;
        
    }
    .map-ubicacion{
        border-radius: 6px;
        width: 600px;
        height: 450px;
        border:none;
        margin:25px;
    }

    p {
        margin-bottom: 50px;
        a {
            font-size: 25px;
            font-weight: 400;
            text-decoration: none;
            color:black;
        }
    }
}
@media (max-width:550px){
    .homePage{
        height: 300px;
        h1{
            font-size: 40px;
        }
        h3{
            font-size: 25px;
        }
    }
    
}