@use'../componets/home-page';
@use'../base/tipografia';
.productos {
    
    .homePage {
        --bg-img: url('https://cdn.pixabay.com/photo/2017/10/15/15/58/spring-2854205_1280.jpg');

        h1 {
            font-size: 70px;
        }
    }

    .catalogo {
        background: url(../../../assets/fondo_madera.png);
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
        background-repeat: no-repeat;
        @media (max-width:1800px){
            display: flex;
            justify-content: space-around;
        }
        .cards-producto {
            h2{
                font-weight: 700;
                color:white;
            }
            .card-producto {
                a {
                    .img-card {
                        height: 35rem;
                        border-radius: 18px;
                    }      
                }
            }   
        }
    }
}