@use '../componets/home-page';
@use'../componets/polaroid-img';

.quienesSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .homePage {
        --bg-img: url('../../../assets/floreria_mia.png');

        @media (max-width: 800px) {
            --bg-img: url('../../../assets/floreria_mia_mobile.png');
        }

        h3 {
            font-size: 35px;

        }

        .title-principal {
            font-size: 50px;
        }

        h1,
        h3 {
            font-weight: 800;
            color: rgb(255, 255, 255);
            text-shadow: 0px 2px 4px rgb(25, 25, 25);
            background-color: rgba(77, 95, 110, 0.387);
        }

        &::before {
            background: none;
        }
    }

    .title-principal {
        color: white;
        border-radius: 15px 0 15px 0;
        background-color: rgb(185, 102, 200);
        margin-bottom: 0;
    }

    .article-historia {
        margin: 10px 20px;
        padding: 30px;

        h2 {
            font-style: italic;
            text-shadow: 0px 2px 4px rgba(34, 33, 34, 0.399);
            margin: 0 0 30px 0;
            padding: 0;
        }

        p {
            font-size: 25px;
            font-weight: 600;
            color: white;
            text-shadow: 0px 2px 4px rgb(41, 38, 42);
            margin-bottom: 50px;
            padding: 30px;
            background-color: #fd82abdb;
            border-radius: 0 15px 0 15px;
        }
    }

    section {
        p {
            font-size: 25px;
            font-weight: 500;
            padding: 10px;
            margin: 0 25px;
        }
    }


}